body{
    margin:0;
    padding:0;
    }
h1{
        font-family: Arial;
        font-weight: bold;
        font-size: 12em;
        text-align: center;
        margin: 200px auto;
        text-transform: uppercase;
        background: url(mald.jpg);
        background-size: cover;
        background-attachment: fixed;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;

    }